
{% extends 'common_header&footer.html' %}
{% load static %}



{% block pagetitle %}
	GEMS Gen. Tool
{% endblock %}



{% block csstyle %}
	<link rel="stylesheet" href="{% static 'GEMSManager/css/style_GEMSManager.css' %}" />
{% endblock %}



{% block javascript %}
	<script src="{% static 'GEMSManager/js/js_GEMSManager.js' %}"></script>
{% endblock %}




{% block bodyheader %}
	{% include 'GEMSManager/GEMSimage.html' %}
{% endblock %}




{% block content %}
	
	{% for field in context_form_GESMSet.Response %}
        <div class="col-md-12 dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ field.label_tag }}
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
                <div><a href="#">{{ field }}</a></div>
            </div>
        </div>
    {% endfor %}
{% endblock %}