<style>

/*  */
.btn-menu div{
  width: 25px;
  height: 4px;
  background-color: white;
  margin: 5px;
  margin-left: 1rem;
  transition: all 0.8 ease;
}


/* Create two columns/boxes that floats next to each other */
  nav_EPS {
    float: left;
    width: 10%;
    /* height: 300px; only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
  }
  /* Create two columns/boxes that floats next to each other */
  nav2_EPS {
    float: left;
    width: 40%;
    /* height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
  }
  /* Style the list inside the menu */
  nav_EPS ul {
    list-style-type: none;
    padding: 0;
  }
  
  article2 {
    float: left;
    padding: 20px;
    width: 50%;
    background-color: #f1f1f1;
    /* height: 300px; /* only for demonstration, should be removed */
  }

  /* Clear floats after the columns */
  section2::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav_EPS, article {
      width: 100%;
      height: auto;
    }
  }
  .btn_Gen {
    background-color: #00205b;
    border: none;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    height: auto;
  }

  /* Darker background on mouse-over */
  .btn_Gen:hover {
    background-color: #013B9F;
  }





/*the container must be positioned relative:*/
.custom-select {
position: relative;
font-family: Arial;
}

.custom-select select {
display: none; /*hide original SELECT element:*/
}

.select-selected {
background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
position: absolute;
content: "";
top: 14px;
right: 10px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
border-color: transparent transparent #fff transparent;
top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
color: #ffffff;
padding: 8px 16px;
border: 1px solid transparent;
border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
cursor: pointer;
user-select: none;
}

/*style items (options):*/
.select-items {
position: absolute;
background-color: DodgerBlue;
top: 100%;
left: 0;
right: 0;
z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
display: none;
}

.select-items div:hover, .same-as-selected {
background-color: rgba(0, 0, 0, 0.1);
}

</style>