<style>



/* Create two columns/boxes that floats next to each other */
  nav_EPS {
    float: left;
    width: 10%;
    /* height: 300px; only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
  }
  /* Create two columns/boxes that floats next to each other */
  nav2_EPS {
    float: left;
    width: 40%;
    /* height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
  }
  /* Style the list inside the menu */
  nav_EPS ul {
    list-style-type: none;
    padding: 0;
  }
  
  article2 {
    float: left;
    padding: 20px;
    width: 50%;
    background-color: #f1f1f1;
    /* height: 300px; /* only for demonstration, should be removed */
  }

  /* Clear floats after the columns */
  section2::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav_EPS, article {
      width: 100%;
      height: auto;
    }
  }


  .btn_Gen {
    background-color: #00205b;
    border: none;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    height: auto;
  }

  /* Darker background on mouse-over */
  .btn_Gen:hover {
    background-color: #013B9F;
  }







  

</style>