
{% extends 'common_header&footer.html' %}
{% load static %}



{% block pagetitle %}
	Maps | Ground Track
{% endblock %}



{% block csstyle %}
  <link rel="stylesheet" href="{% static 'Maps/css/style_Maps.css' %}" />
{% endblock %}



{% block javascript %}
	<script src="{% static 'Maps/js/js_Maps.js' %}"></script>
{% endblock %}




{% block bodyheader %}
  <div class="image-background">
    <picture>
      <img itemprop="image" alt="Metop A Spot" src="{% static 'themes/eumetsat_theme/images/ASpot_EPS2.jpg' %}" class="article-img" title="Metop A Spot">
    </picture>
  </div>
{% endblock %}



{% block content %}





{% endblock %}