
<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="og: https://ogp.me/ns#">
  	<head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

      
      {% load static %}

      <!-- Bootstrap CSS -->
      <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->

      <!-- jquery -->
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

      <!-- semantic UI -->
      <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
      



      
      <meta http-equiv="x-ua-compatible" content="ie=edge" />
      <link rel="shortcut icon" href="https://www-cdn.eumetsat.int/files/www_fav_icon_blue.png" type="image/png" />
      <!-- <link rel="alternate" hreflang="en" href="https://www.eumetsat.int/metop" />
      <link rel="revision" href="https://www.eumetsat.int/metop" /> -->

      <title>
        {% block pagetitle %}	
        {% endblock %}
        | EUMETSAT Controller Website
      </title>
      
      <link rel="stylesheet" media="all" href="https://www-cdn.eumetsat.int/files/css/css_KF4-Pv_Db-yhCgYSFG179wr60YW5nlXFR5kwLMFMEgU.css" />
      <!-- <link rel="stylesheet" media="all" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css" />
      <link rel="stylesheet" media="all" href="https://use.fontawesome.com/releases/v5.10.0/css/v4-shims.css" />
      <link rel="stylesheet" media="all" href="https://www-cdn.eumetsat.int/files/css/css_ncZJ4SQ3J1NiZ8m8jiFj-nfKN1EUQ3Jb2G8feXk--Kc.css" /> -->
      <!-- <link rel="stylesheet" media="all" href="https://www-cdn.eumetsat.int/files/css/css_Dvvshlal6wA0HHpdoWnNqNxdNMkrWNWrLnnO9KxG3dA.css" /> -->
      <link rel="stylesheet" media="all" href="{% static 'css/css_Dvvshlal6wA0HHpdoWnNqNxdNMkrWNWrLnnO9KxG3dA.css' %}" />
      <!-- auto;position:relative;}.header .navbar .region .right-item-nav{position:absolute;right:0;padding: -->
      <!-- index:20;}.header .navbar .region .right-item-nav{padding: -->
      <!-- <link rel="stylesheet" media="print" href="https://www-cdn.eumetsat.int/files/css/css_Z5jMg7P_bjcW9iUzujI7oaechMyxQTUqZhHJ_aYSq04.css" /> -->
      <link rel="stylesheet" href="{% static 'css/style_header&footer.css' %}" />
      
      
      <script src="https://www-cdn.eumetsat.int/files/js/js_JlVDzzRTsBBs5_vaaiXmB9ck8-IkKBmlybDaDEcRemQ.js"></script>
      

      <!--  -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      {% block csstyle %}
      {% endblock %}
      
      {% block javascript %}
      {% endblock %}

    </head>





















  <body class="layout-no-sidebars page-node-525 path-node node--type-hub-page static">
    <a href="#main-content" class="visually-hidden focusable skip-link">
      Skip to main content
    </a>
    <div id="sitewide-alert"></div>
    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
      <div id="page-wrapper">
        <div id="page">



              
    				  <header id="header" class="header" role="banner" aria-label="Site header">
                  <nav class="navbar navbar-dark bg-secondary" id="navbar-top">























                    <section class="row region region-nav-left">
                      <a href="https://intranet.eumetsat.int/sites/web/intra" rel="home" class="navbar-brand">
                        <img itemprop="image" src="{% static 'themes/eumetsat_theme/images/eumetsat_logo_white.svg' %}" alt="EUMETSAT" class="img-fluid d-inline-block align-top" />
                        <span class="ml-2 d-none d-md-inline"></span>
                      </a>
                      <nav role="navigation" aria-labelledby="block-mainnavigation-menu" id="block-mainnavigation" class="block block-menu navigation menu--main">
                        <h2 class="sr-only" id="block-mainnavigation-menu">Main navigation</h2>
                        <ul class="clearfix menu menu--simple-mega-menu nav navbar-nav">
                          <li class="menu-item menu-item--expanded nav-item menu-item-link">
                            <span data-simple-mega-menu="1">TOOLS</span>
                            <div class="mega-menu-background-ul"></div>
                            <div class="mega-menu-wrapper">
                              <div class="container container_body">
                                <div class="mega-menu-background"></div>
                                <h2>IMAGES</h2>
                                <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu-main view-mode-before"></div>
                                <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu-main view-mode-before"></div>
                                <ul class="clearfix menu nav navbar-nav menu-item menu-item--expanded nav-item mega-menu-item h5">
                                  <li class="menu-item menu-item--expanded nav-item col-md-3">
                                    <span>EUMETSAT</span>
                                    <ul  class="menu nav navbar-nav">
                                      <li>
                                        <a href="https://dmtool.eumetsat.int/cs/idcplg?IdcService=GET_DOC_PAGE&Action=GetTemplatePage&Page=HOME_PAGE&Auth=Internet" title="DMTool">DMTool</a>
                                      </li>
                                      <li>
                                        <a href="https://sites.eumetsat.int/ops/" title="EUMETSAT - OPS Extranet Plans and Schedules">Plans and Schedules</a>
                                      </li>
                                      <li>
                                        <a href="http://cgstm1.eumetsat.org/download.htm" title="EUMETSAT TMPropagator (OSE Real Time) Facility - Download">TMPropagator (OSE-RT) Facility</a>
                                      </li>
                                      <li>
                                        <a href="https://intranet.eumetsat.int/sites/web/intra/acronym-finder" title="EUMETSAT's Acronym Finder">Acronym Finder</a>
                                      </li>
                                    </ul>
                                  </li>
                                  <li class="menu-item menu-item--expanded nav-item col-md-3">
                                    <span>OPERATIONAL TOOLS</span>
                                    <ul  class="menu nav navbar-nav">
                                      <li>
                                        <a href="http://uberlog.opscloud.eumetsat.int:8080/uberlog/account/login.xhtml" title="Überlog">Überlog</a>
                                      </li>
                                      <li>
                                        <a href="https://apt.eumetsat.int/views/landingpage.jsf" title="EUMETSAT's Anomaly Processing Tool">APT</a>
                                      </li>
                                      <li>
                                        <a href="http://chart/" title="EUMETSAT's Chart">CHART</a>
                                      </li>
                                      <li>
                                        <a href="{% url 'GEMSManager' %}" title="GEMS generator tool">GEMS Generator Tool</a>
                                      </li>
                                    </ul>
                                  </li>
                                  <li class="menu-item menu-item--expanded nav-item col-md-3">
                                    <span>MASIF OPE</span>
                                    <ul  class="menu nav navbar-nav">
                                      <li>
                                        <a href="https://masif.eumetsat.int/" title="Monitoring And Support Infrastructure Facility - Operational Platform">MASIF website</a>
                                      </li>
                                      <li>
                                        <a href="https://masif.eumetsat.int/GEMS" title="Generic Event Monitoring System - Operational Platform">GEMS</a>
                                      </li>
                                      <li>
                                        <a href="https://masif.eumetsat.int/smart_index.php" title="Service Monitoring And Reporting Tool - Operational Platform">SMART</a>
                                      </li>
                                      <li>
                                        <a href="https://uns.eumetsat.int/uns" title="User Notification System - Operational Platform">UNS</a>
                                      </li>
                                    </ul>
                                  </li>
                                  <li class="menu-item menu-item--expanded nav-item col-md-3">
                                    <span>MASIF VAL</span>
                                    <ul  class="menu nav navbar-nav">
                                      <li>
                                        <a href="https://vmasif.eumetsat.int/" title="Monitoring And Support Infrastructure Facility - Validation Platform">MASIF website</a>
                                      </li>
                                      <li>
                                        <a href="https://vmasif.eumetsat.int/GEMS" title="Generic Event Monitoring System - Validation Platform">GEMS</a>
                                      </li>
                                      <li>
                                        <a href="https://vmasif.eumetsat.int/smart_index.php" title="Service Monitoring And Reporting Tool - Validation Platform">SMART</a>
                                      </li>
                                      <li>
                                        <a href="https://vuns.eumetsat.int/uns" title="User Notification System - Validation Platform">UNS</a>
                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                                <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu-main view-mode-after"></div>
                              </div>
                            </div>
                          </li>
                          <li class="menu-item menu-item--expanded nav-item menu-item-link">
                            <span data-simple-mega-menu="1">MISSIONS</span>
                            <div class="mega-menu-background-ul"></div>
                            <div class="mega-menu-wrapper">
                              <div class="container container_body">
                                <div class="mega-menu-background"></div>
                                <h2>LEO MISSIONS</h2>
                                <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu-main view-mode-before">
                                </div>
      
                                <div class="simple-mega-menu mega-menu-item simple-mega-menu-type-megamenu-main view-mode-before">
                                </div>
      
                                <ul class="menu nav navbar-nav menu-item menu-item--expanded nav-item mega-menu-item h5 clearfix">
                                
                                  <li class="menu-item menu-item--expanded nav-item col-md-3">
                                    <span>EPS MetOp</span>
                                    <ul  class="menu nav navbar-nav">
                                      <li>
                                        <a href="http://epscot.opscloud.eumetsat.int/epscntdwn.html?sound=off\%22%20ADD_DATE=" title="Satellite data for weather forecasting" data-drupal-link-system-path="node/33">Controller website</a>
                                      </li>
                                      <li>
                                        <a href="file:///P:/groups/OPS/EPS%20Knowledge%20Base/EPS_Knowledge.htm" title="Satellite data for weather forecasting" data-drupal-link-system-path="node/33">K-Base</a>
                                      </li>
                                      <li>
                                        <a href="https://tcweb/~stjohn/www/wimpies/" title="Monitoring our climate from space" data-drupal-link-system-path="node/37">Wimpy</a>
                                      </li>
                                      <li>
                                        <a href="{% url 'EPS1elogbooGenerator' %}" title="E-logbook generator tool" data-drupal-link-system-path="node/35">E-logbook Generator Tool</a>
                                      </li>
                                      <li>
                                        <a href="{% url 'EPS1ReportGenerator' %}" title="Report generator tool" title="" data-drupal-link-system-path="node/35">Report Generator Tool</a>
                                      </li>
                                    </ul>
                                  </li>
              
                                  <li class="menu-item menu-item--expanded nav-item col-md-3">
                                    <span>EPS MetOp-SG</span>
                                    <ul  class="menu nav navbar-nav">
                                      <li>
                                        <a href="file:///P:/groups/OPS/EPS%20Knowledge%20Base/EPS_Knowledge.htm" title="Satellite data for weather forecasting" data-drupal-link-system-path="node/33">K-Base</a>
                                      </li>
                                      <li>
                                        <a href="https://tcweb/~stjohn/www/wimpies/" title="Monitoring our climate from space" data-drupal-link-system-path="node/37">Wimpy</a>
                                      </li>
                                      <li>
                                        <a href="{% url 'EPS2ShiftGenerator' %}" title="Global observations of the Earth&#039;s oceans" data-drupal-link-system-path="node/35">E-logbook Generator Tool</a>
                                      </li>
                                      <li>
                                        <a href="" title="Report generator tool" title="" data-drupal-link-system-path="node/35">Report Generator Tool</a>
                                      </li>
                                    </ul>
                                  </li>
                                  <li class="menu-item menu-item--expanded nav-item col-md-3">
                                    <span>Sentinel 3</span>
                                    <ul  class="menu nav navbar-nav">
                                      <li>
                                        <a href="https://masif.eumetsat.int/S3wiki/index.php/Main_Page" title="Satellite data for weather forecasting" data-drupal-link-system-path="node/33">K-Base</a>
                                      </li>
                                      <li>
                                        <a href="https://tcweb/~stjohn/www/wimpies/" title="Monitoring our climate from space" data-drupal-link-system-path="node/37">Wimpy</a>
                                      </li>
                                      <li>
                                        <a href="{% url 'S3elogbooGenerator' %}" title="Global observations of the Earth&#039;s oceans" data-drupal-link-system-path="node/35">E-logbook Generator Tool</a>
                                      </li>
                                      <li>
                                        <a href="" title="Report generator tool" title="" data-drupal-link-system-path="node/35">Report Generator Tool</a>
                                      </li>
                                    </ul>
                                  </li>
                                  <li class="menu-item menu-item--expanded nav-item col-md-3">
                                    <span>Sentinel 6</span>
                                    <ul  class="menu nav navbar-nav">
                                      <li>
                                        <a href="https://vmasif.eumetsat.int/S6wiki/index.php/Main_Page " title="Satellite data for weather forecasting" data-drupal-link-system-path="node/33">K-Base</a>
                                      </li>
                                      <li>
                                        <a href="https://tcweb/~stjohn/www/wimpies/" title="Monitoring our climate from space" data-drupal-link-system-path="node/37">Wimpy</a>
                                      </li>
                                      <li>
                                        <a href="{% url 'S6elogbooGenerator' %}" title="Global observations of the Earth&#039;s oceans" data-drupal-link-system-path="node/35">E-logbook Generator Tool</a>
                                      </li>
                                      <li>
                                        <a href="" title="Report generator tool" title="" data-drupal-link-system-path="node/35">Report Generator Tool</a>
                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </li>
                          <li class="menu-item menu-item--expanded nav-item menu-item-link">
                            <a href="{% url 'Maps' %}" title="Latest news about satellites and data" data-drupal-link-system-path="node/399">MAPS</a>
                          </li>
                        </ul>












                        <div class="container-nav-responsive">
                          <ul class="nav-responsive-list container container_body">
                            <li class="first-level toggleable ">
                              <div>
                                <span data-simple-mega-menu="1">TOOLS</span>
                              </div>
                              <ul class="first-level-list">
                                <li class="second-level toggleable ">
                                  <div>
                                    <span>EUMETSAT</span>
                                  </div>
                                  <ul class="second-level-list">
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://dmtool.eumetsat.int/cs/idcplg?IdcService=GET_DOC_PAGE&Action=GetTemplatePage&Page=HOME_PAGE&Auth=Internet" title="DMTool">DMTool</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://sites.eumetsat.int/ops/" title="EUMETSAT - OPS Extranet Plans and Schedules">Plans and Schedules</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="http://cgstm1.eumetsat.org/download.htm" title="EUMETSAT TMPropagator (OSE Real Time) Facility - Download">TMPropagator (OSE-RT) Facility</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://intranet.eumetsat.int/sites/web/intra/acronym-finder" title="EUMETSAT's Acronym Finder">Acronym Finder</a>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                                <li class="second-level toggleable ">
                                  <div>
                                    <span>OPERATIONAL TOOLS</span>
                                  </div>
                                  <ul class="second-level-list">
                                    <li class="third-level  ">
                                      <div>
                                        <a href="http://uberlog.opscloud.eumetsat.int:8080/uberlog/account/login.xhtml" title="Überlog">Überlog</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://apt.eumetsat.int/views/landingpage.jsf" title="EUMETSAT's Anomaly Processing Tool">APT</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="http://chart/" title="EUMETSAT's C Tool">CHART</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="{% url 'GEMSManager' %}" title="GEMS generator tool">GEMS Generator Tool</a>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                                <li class="second-level toggleable ">
                                  <div>
                                    <span>MASIF OPE</span>
                                  </div>
                                  <ul class="second-level-list">
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://masif.eumetsat.int/" title="Monitoring And Support Infrastructure Facility - Operational Platform">MASIF website</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://masif.eumetsat.int/GEMS" title="Generic Event Monitoring System - Operational Platform">GEMS</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://masif.eumetsat.int/smart_index.php" title="Service Monitoring And Reporting Tool - Operational Platform">SMART</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://uns.eumetsat.int/uns" title="User Notification System - Operational Platform">UNS</a>
                                      </div>
                                    </li>
                                  </ul>
                                </li>                      
                                <li class="second-level toggleable ">
                                  <div>
                                    <span>MASIF VAL</span>
                                  </div>
                                  <ul class="second-level-list">
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://vmasif.eumetsat.int/" title="Monitoring And Support Infrastructure Facility - Validation Platform">MASIF website</a>
                                      </div>
                                    </li>																  
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://vmasif.eumetsat.int/GEMS" title="Generic Event Monitoring System - Validation Platform">GEMS</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://vmasif.eumetsat.int/smart_index.php" title="Service Monitoring And Reporting Tool - Validation Platform">SMART</a>
                                      </div>
                                    </li>	
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://uns.eumetsat.int/uns" title="User Notification System - Validation Platform">UNS</a>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                            <li class="first-level toggleable ">
                              <div>
                                <span data-simple-mega-menu="1">MISSIONS</span>
                              </div>
                              <ul class="first-level-list">
                                <li class="second-level toggleable ">
                                  <div>
                                    <span>EPS MetOp</span>
                                  </div>
                                  <ul class="second-level-list">
                                    <li class="third-level  ">
                                      <div>
                                        <a href="http://epscot.opscloud.eumetsat.int/epscntdwn.html?sound=off\%22%20ADD_DATE=" title="Satellite data for weather forecasting" data-drupal-link-system-path="node/33">Controller website</a>
                                      </div>
                                    </li>				  
                                    <li class="third-level  ">
                                      <div>
                                        <a href="file:///P:/groups/OPS/EPS%20Knowledge%20Base/EPS_Knowledge.htm" title="Satellite data for weather forecasting" data-drupal-link-system-path="node/33">K-Base</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://tcweb/~stjohn/www/wimpies/" title="Monitoring our climate from space" data-drupal-link-system-path="node/37">Wimpy</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="{% url 'EPS1elogbooGenerator' %}" title="Global observations of the Earth&#039;s oceans" data-drupal-link-system-path="node/35">E-logbook Generator Tool</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="{% url 'EPS1ReportGenerator' %}" title="Global observations of the Earth&#039;s oceans" data-drupal-link-system-path="node/35">Report Generator Tool</a>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                                <li class="second-level toggleable ">
                                  <div>
                                    <span>EPS MetOp-SG</span>
                                  </div>
                                  <ul class="second-level-list">
                                    <li class="third-level  ">
                                      <div>
                                        <a href="file:///P:/groups/OPS/EPS%20Knowledge%20Base/EPS_Knowledge.htm" title="Satellite data for weather forecasting" data-drupal-link-system-path="node/33">K-Base</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://tcweb/~stjohn/www/wimpies/" title="Monitoring our climate from space" data-drupal-link-system-path="node/37">Wimpy</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="{% url 'EPS2ShiftGenerator' %}" title="Global observations of the Earth&#039;s oceans" data-drupal-link-system-path="node/35">E-logbook Generator Tool</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="" title="Global observations of the Earth&#039;s oceans" data-drupal-link-system-path="node/35">Report Generator Tool</a>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                                <li class="second-level toggleable ">
                                  <div>
                                    <span>Sentinel 3</span>
                                  </div>
                                  <ul class="second-level-list">
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://masif.eumetsat.int/S3wiki/index.php/Main_Page" title="Satellite data for weather forecasting" data-drupal-link-system-path="node/33">K-Base</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://tcweb/~stjohn/www/wimpies/" title="Monitoring our climate from space" data-drupal-link-system-path="node/37">Wimpy</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="{% url 'S3elogbooGenerator' %}" title="Global observations of the Earth&#039;s oceans" data-drupal-link-system-path="node/35">E-logbook Generator Tool</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="" title="Global observations of the Earth&#039;s oceans" data-drupal-link-system-path="node/35">Report Generator Tool</a>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                                <li class="second-level toggleable ">
                                  <div>
                                    <span>Sentinale 6</span>
                                  </div>
                                  <ul class="second-level-list">
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://vmasif.eumetsat.int/S6wiki/index.php/Main_Page " title="Satellite data for weather forecasting" data-drupal-link-system-path="node/33">K-Base</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="https://tcweb/~stjohn/www/wimpies/" title="Monitoring our climate from space" data-drupal-link-system-path="node/37">Wimpy</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="{% url 'S6elogbooGenerator' %}" title="Global observations of the Earth&#039;s oceans" data-drupal-link-system-path="node/35">E-logbook Generator Tool</a>
                                      </div>
                                    </li>
                                    <li class="third-level  ">
                                      <div>
                                        <a href="" title="Global observations of the Earth&#039;s oceans" data-drupal-link-system-path="node/35">Report Generator Tool</a>
                                      </div>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                            <li class="first-level toggleable ">
                              <div>
                                <a href="{% url 'Maps' %}" title="Latest news about satellites and data" data-drupal-link-system-path="node/399">MAPS</a>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </nav>
                    </section>
  
  















































                    <div class="form-inline navbar-form float-right">
                      <section class="row region region-nav-right">
                        <div class="container-search-input" style="display: none;">
                          <div class="container container_body">
                          </div>
                        </div>
                        <div class="right-item-nav">
                          <div class="right-item-nav-search">
                            
                            
                            <div class="datetime" >
                              <div class="calendar">
                                <div class="DOYCW">
                                  <!-- <div class="DOY"> -->
                                    <span class="date" id="DOY">DOY</span>
                                  <!-- </div> -->
                                  <!-- <div class="CW"> -->
                                    &emsp;&emsp;
                                    <span class="date" id="CW">CW</span>
                                  <!-- </div> -->
                                </div>
                                <div>
                                  <span class="date" id="dayname">Day</span>,
                                  <span class="date" id="month">Month</span>
                                  <span class="date" id="daynum">00</span>
                                  <span class="date" id="year">Year</span>
                                </div>
                              </div>
                              <div class="time">
                                <span class="time" id="hour">00</span>:<span class="time" id="minutes">00</span>:<span class="time" id="seconds">00</span>
                              </div>
                            </div>
                          </div>
                          <script src="{% static 'js/clock_widget.js' %}"></script>
                          
                          <div class="right-item-nav-menu">
                            <i class="icon-icon_burger"></i>
                            <i class="icon-icon_close-light"></i>
                          </div>
                          
                        </div>
                      </section>
                    </div>
                  </nav>
              </header>




















					
              <div id="main-wrapper" class="layout-main-wrapper clearfix">
                <div id="main" class="container_body">
                  <div>
                    <main class="main-content">
                      <section class="section">
                        <a id="main-content" tabindex="-1"></a>
                        <div data-drupal-messages-fallback class="hidden"></div>
                        <article role="article" class="node node--type-hub-page node--view-mode-full clearfix">
                          <header>
                          

                            {% block bodyheader %}
                            {% endblock %}


                          </header>
                          

                          <div class="node__content clearfix">
                            <div class="layout layout--onecol">
                              <div  class="layout__region layout__region--content">



                                {% block content %}
                                {% endblock %}



                              </div>
                            </div>
                          </div>
                        </article>
                      </section>
                    </main>
                  </div>
                </div>
              </div>





















              <footer class="site-footer mt-4">
                <div class="container container_body">
                  <section class="region region-footer">
                    <div class="row">
                      <div class="col-lg-3 col-md-12">
                        <img itemprop="image" alt="logo eumetsat" class="footer-brand" data-entity-type="file" src="https://www-cdn.eumetsat.int/files/2020-08/EUMETSAT%20Logo%20SINGLE%20COLOUR.jpg">
                      </div>
                      <div class="col-lg-9 col-md-12">
                        <ul class="clearfix nav navbar-nav">
                          <li class="nav-item" title="">
                            <a href="https://www.eumetsat.int/about-us/terms-use">Terms of use</a>
                          </li>
                          <!-- <li class="nav-item" title=""><a href="/work-us/extranet-access">Extranet Access</a></li> -->
                          <li class="nav-item" title="">
                            <a href="https://www.eumetsat.int/contact-us">Contact Us</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div id="block-socialfootericons" class="block block-block-content block-block-content7d12120f-1812-4412-a101-009b495bd7c4 clearfix">
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          <div class="network">
                            <p>Follow us</p>
                            <a href="https://www.instagram.com/eumetsatmedia/" target= "_blank" class="border-none decoration-none" title="https://www.instagram.com/eumetsatmedia/">
                              <img itemprop="image" alt="instagram - social icon" src="https://www-cdn.eumetsat.int/files/2021-06/EUMETSAT_SMIcons_Blue__Instagram.png">
                            </a>
                            <a href="https://facebook.com/eumetsat" target= "_blank" class="border-none decoration-none" title="https://facebook.com/eumetsat">
                            <img itemprop="image" alt="facebook - social icon" src="https://www-cdn.eumetsat.int/files/2021-06/EUMETSAT_SMIcons_Blue__Facebook.png">
                            </a>
                            <a href="https://youtube.com/eumetsat1" target= "_blank" class="border-none decoration-none" title="https://youtube.com/eumetsat1">
                              <img itemprop="image" alt="youtube - social icon" src="https://www-cdn.eumetsat.int/files/2021-06/EUMETSAT_SMIcons_Blue__YouTube.png">
                            </a>
                            <a href="https://twitter.com/eumetsat" target= "_blank" class="border-none decoration-none" title="https://twitter.com/eumetsat">
                              <img itemprop="image" alt="twitter - social media" src="https://www-cdn.eumetsat.int/files/2021-06/EUMETSAT_SMIcons_Blue__Twitter.png">
                            </a>
                            <a href="https://www.linkedin.com/company/EUMETSAT" target= "_blank" class="border-none decoration-none" title="https://www.linkedin.com/company/EUMETSAT">
                              <img itemprop="image" alt="linkedin - social icon" src="https://www-cdn.eumetsat.int/files/2021-06/EUMETSAT_SMIcons_Blue__LinkedIn.png">
                            </a>
                            <a href="https://www.flickr.com/photos/eumetsat/" target= "_blank" class="border-none decoration-none" title="https://www.flickr.com/photos/eumetsat/">
                              <img itemprop="image" alt="flickr - social icon" src="https://www-cdn.eumetsat.int/files/2021-06/EUMETSAT_SMIcons_Blue__Flickr.png">
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                <div class="version-content container container_body">
                                <!-- <small> v4.3.0.7 </small> -->
                                <small> MN Mark 1.0.0.0 </small>
                </div>
              </footer>




















					
          </div>
        </div>
      </div>

      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
      
      





      <!-- <script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/525","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"ajaxPageState":{"libraries":"bootstrap_barrio\/form,bootstrap_barrio\/global-styling,bootstrap_barrio\/node,eu_cookie_compliance\/eu_cookie_compliance_bare,eumetsat_product_navigator\/product_navigator,eumetsat_setup\/show_tab_errors,eumetsat_theme\/global-styling,eumetsat_theme\/jquery-header,fontawesome\/fontawesome.webfonts,fontawesome\/fontawesome.webfonts.shim,google_analytics\/google_analytics,layout_discovery\/onecol,paragraphs\/drupal.paragraphs.unpublished,search_api_autocomplete\/search_api_autocomplete,simple_megamenu\/base,sitewide_alert\/init,social_media\/basic,social_media\/facebook,social_media\/twitter,system\/base,views\/views.ajax,views\/views.module","theme":"eumetsat_theme","theme_token":null},"ajaxTrustedUrl":{"form_action_p_pvdeGsVG5zNF_XLGPTvYSKCf43t8qZYSwcfZl2uzM":true},"eumetsat_setup":{"eumetsat_setup_rows_search":"5","eumetsat_setup_rows_galleries":"3"},"google_analytics":{"trackOutbound":true,"trackMailto":true,"trackDownload":true,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc(x|m)?|dot(x|m)?|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt(x|m)?|pot(x|m)?|pps(x|m)?|ppam|sld(x|m)?|thmx|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls(x|m|b)?|xlt(x|m)|xlam|xml|z|zip","trackColorbox":true},"views":{"ajax_path":"\/views\/ajax","ajaxViews":{"views_dom_id:4d8ca28240a7ed0ab0fc962b358f34da08a0c129ac633c75849f76628adf02c5":{"view_name":"pattern_view","view_display_id":"block_1","view_args":"13,7\/all\/26\/525\/6\/eum_card_thumbnail\/ slider ","view_path":"\/node\/525","view_base_path":null,"view_dom_id":"4d8ca28240a7ed0ab0fc962b358f34da08a0c129ac633c75849f76628adf02c5","pager_element":0},"views_dom_id:1062a71717a2977f754719ae26ac9f4175c22d568b6c5273b20639ac981504ab":{"view_name":"pattern_view","view_display_id":"block_1","view_args":"13,9\/436\/108\/525\/6\/eum_card_thumbnail\/ slider ","view_path":"\/node\/525","view_base_path":null,"view_dom_id":"1062a71717a2977f754719ae26ac9f4175c22d568b6c5273b20639ac981504ab","pager_element":0},"views_dom_id:f0c71ebf7a5af2befb0a32600128e19032bccced25a6b838da884a92711afa9a":{"view_name":"pattern_view","view_display_id":"block_1","view_args":"13\/436\/19+22\/525\/6\/eum_card_medium\/ slider ","view_path":"\/node\/525","view_base_path":null,"view_dom_id":"f0c71ebf7a5af2befb0a32600128e19032bccced25a6b838da884a92711afa9a","pager_element":0}}},"social_media":{"application_id":"770998003392858"},"eu_cookie_compliance":{"cookie_policy_version":"1.0.0","popup_enabled":true,"popup_agreed_enabled":false,"popup_hide_agreed":false,"popup_clicking_confirmation":false,"popup_scrolling_confirmation":false,"popup_html_info":"\u003Cdiv class=\u0022eu-cookie-compliance-banner eu-cookie-compliance-banner-info eu-cookie-compliance-banner--opt-in\u0022\u003E\n\t\u003Cdiv class=\u0022popup-content info eu-cookie-compliance-content\u0022\u003E\n\t\t\u003Cdiv id=\u0022popup-text\u0022 class=\u0022eu-cookie-compliance-message\u0022\u003E\n\t\t\t\u003Ch2\u003EPRIVACY NOTICE\u003C\/h2\u003E\u003Cp\u003ETo offer you the best possible browsing experience, this site uses cookies. You can indicate your preference by selecting to accept all or only essential cookies. For more information on the use of non-essential cookies, go to our Terms of Use\u003C\/p\u003E\n\t\t\t\t\t\u003C\/div\u003E\n\n\t\t\n\t\t\u003Cdiv id=\u0022popup-buttons\u0022 class=\u0022eu-cookie-compliance-buttons\u0022\u003E\n\t\t\t\u003Cbutton type=\u0022button\u0022 class=\u0022btn btn-primary dark agree-button eu-cookie-compliance-secondary-button\u0022\u003EAccept all Cookies\u003C\/button\u003E\n\t\t\t\t\t\t\t\u003Cbutton type=\u0022button\u0022 class=\u0022btn btn-primary dark decline-button eu-cookie-compliance-default-button\u0022\u003EAccept Only Essential Cookies\u003C\/button\u003E\n\t\t\t\t\t\u003C\/div\u003E\n\t\u003C\/div\u003E\n\u003C\/div\u003E","use_mobile_message":false,"mobile_popup_html_info":"\u003Cdiv class=\u0022eu-cookie-compliance-banner eu-cookie-compliance-banner-info eu-cookie-compliance-banner--opt-in\u0022\u003E\n\t\u003Cdiv class=\u0022popup-content info eu-cookie-compliance-content\u0022\u003E\n\t\t\u003Cdiv id=\u0022popup-text\u0022 class=\u0022eu-cookie-compliance-message\u0022\u003E\n\t\t\t\n\t\t\t\t\t\u003C\/div\u003E\n\n\t\t\n\t\t\u003Cdiv id=\u0022popup-buttons\u0022 class=\u0022eu-cookie-compliance-buttons\u0022\u003E\n\t\t\t\u003Cbutton type=\u0022button\u0022 class=\u0022btn btn-primary dark agree-button eu-cookie-compliance-secondary-button\u0022\u003EAccept all Cookies\u003C\/button\u003E\n\t\t\t\t\t\t\t\u003Cbutton type=\u0022button\u0022 class=\u0022btn btn-primary dark decline-button eu-cookie-compliance-default-button\u0022\u003EAccept Only Essential Cookies\u003C\/button\u003E\n\t\t\t\t\t\u003C\/div\u003E\n\t\u003C\/div\u003E\n\u003C\/div\u003E","mobile_breakpoint":768,"popup_html_agreed":false,"popup_use_bare_css":true,"popup_height":"auto","popup_width":"100%","popup_delay":1000,"popup_link":"\/","popup_link_new_window":true,"popup_position":false,"fixed_top_position":true,"popup_language":"en","store_consent":false,"better_support_for_screen_readers":false,"cookie_name":"","reload_page":false,"domain":"","domain_all_sites":false,"popup_eu_only_js":false,"cookie_lifetime":100,"cookie_session":0,"set_cookie_session_zero_on_disagree":0,"disagree_do_not_show_popup":false,"method":"opt_in","automatic_cookies_removal":true,"allowed_cookies":"","withdraw_markup":"\u003Cbutton type=\u0022button\u0022 class=\u0022eu-cookie-withdraw-tab\u0022\u003E\u003C\/button\u003E\n\u003Cdiv role=\u0022alertdialog\u0022 aria-labelledby=\u0022popup-text\u0022 class=\u0022eu-cookie-withdraw-banner\u0022\u003E\n  \u003Cdiv class=\u0022popup-content info eu-cookie-compliance-content\u0022\u003E\n    \u003Cdiv id=\u0022popup-text\u0022 class=\u0022eu-cookie-compliance-message\u0022\u003E\n      \u003Ch2\u003EWe use cookies on this site to enhance your user experience\u003C\/h2\u003E\u003Cp\u003EYou have given your consent for us to set cookies.\u003C\/p\u003E\n    \u003C\/div\u003E\n    \u003Cdiv id=\u0022popup-buttons\u0022 class=\u0022eu-cookie-compliance-buttons\u0022\u003E\n      \u003Cbutton type=\u0022button\u0022 class=\u0022eu-cookie-withdraw-button\u0022\u003EWithdraw consent\u003C\/button\u003E\n    \u003C\/div\u003E\n  \u003C\/div\u003E\n\u003C\/div\u003E","withdraw_enabled":false,"reload_options":null,"reload_routes_list":"","withdraw_button_on_info_popup":false,"cookie_categories":[],"cookie_categories_details":[],"enable_save_preferences_button":true,"containing_element":"body","settings_tab_enabled":false},"sitewideAlert":{"refreshInterval":300000,"automaticRefresh":false},"search_api_autocomplete":{"eumetsat_search":{"auto_submit":true,"min_length":2}},"user":{"uid":0,"permissionsHash":"3617a277be074394e5deb1abf8f50fb4d074715fe62f95b9dab91f56ee417a8c"}}</script> -->
      <script src="https://www-cdn.eumetsat.int/files/js/js_ODkWdvj7WwrWOF_QzXYkOYaBvaQGTKhB-UM9SDQf_E4.js"></script>
      <!-- <script src="/themes/eumetsat_theme/js/browser.js?v=9.2.7"></script> -->
      <script src="https://www-cdn.eumetsat.int/files/js/js_ZcAU3DQRAnd-kcHXzZSLeS-tLWQYvivMViFQntOmofA.js"></script>
      <!-- <script src="/modules/contrib/eu_cookie_compliance/js/eu_cookie_compliance.js?v=1.9" defer></script> -->
      <script src="https://polyfill.io/v3/polyfill.min.js?features=fetch"></script>
      <script src="https://unpkg.com/react@16.12.0/umd/react.production.min.js"></script>
      <script src="https://unpkg.com/react-dom@16.12.0/umd/react-dom.production.min.js"></script>

      <script src="https://www-cdn.eumetsat.int/files/js/js_I8KWvYlEvSX3OvblDG_3uVFEF6xRWAsjqezCBZVepd4.js"></script>









      
      
      
      
    </body>
</html>
