
{% extends 'common_header&footer.html' %}
{% load static %}



{% block pagetitle %}
	Sentinel-6 e-logbook Generator
{% endblock %}



{% block csstyle %}
	<link rel="stylesheet" href="{% static 'S6Manager/css/style_S6Manager.css' %}" />
{% endblock %}



{% block javascript %}
	<script src="{% static 'S6Manager/js/js_S6Manager.js' %}"></script>

	{{ contx_form_S6.media.css }}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    {{ contx_form_S6.media.js }}
{% endblock %}




{% block bodyheader %}
	{% include 'S6Manager/S6image.html' %}
{% endblock %}



{% block content %}



	




<form action='.' method="POST"> {% csrf_token %}
	<div class="floated_left">
		{{ contx_form_ToUberlog.ToUberlog.label_tag }} {{ contx_form_ToUberlog.ToUberlog }} <br><br>

		<b> {{ contx_form_ToUberlog.Uberlog_ID.label_tag }} </b> <br>
		{{ contx_form_ToUberlog.Uberlog_ID }} <br>
		<b> {{ contx_form_ToUberlog.Uberlog_Paswd.label_tag }} </b> <br>
		{{ contx_form_ToUberlog.Uberlog_Paswd }} <br>
		
		<br>
		<button class="btn_Gen" type="submit" id="btn_btnToUberlog"><i class="fa fa-download"></i><br>Submit</button>
		
		
	</div>
	<div class="wrapper clear">
        <div class="floated_right">
            <article2>
		
				<h2>Batch Generetor Tool</h2>
				
				{{ contx_form_S6.Daily_Events.label_tag }} {{ contx_form_S6.Daily_Events }} <br>

				<div class="floated_right_DC">
					{{ contx_form_S6.SC.label_tag }} <br> {{ contx_form_S6.SC }}
				</div>
				<br>

				{{ contx_form_S6.Shift.label_tag }} <br> {{ contx_form_S6.Date_Shift }} {{ contx_form_S6.Shift }} <br> <br>

				<div class="floated_left_DC">
					{{ contx_form_S6.Date_start.label_tag }} <br> {{ contx_form_S6.Date_start }}
				</div>
				<div class="floated_right_DC">
					{{ contx_form_S6.Date_end.label_tag }} <br> {{ contx_form_S6.Date_end }}
				</div>
				
				
			</article2>
        </div>
    </div>
</form>


{% endblock %}