<!-- This CSS is from LocalBranding by Taxonomy -->
			<style>
							
							/*CM: 12/10/20 increase spacing between A Spot and first item on any article*/
h2.abstract {
    margin-top: 40px;
}
h3#filter_by {
    margin-top: 60px;
}

/*CSC: 13/10/20 for Banner alert X link*/
@media (max-width: 768px) { 

    .sitewide-alert .close  span{
         font-size: 1.5em;
         color: var(--eumetsat-blue);
    } 

    .sitewide-alert .close {
         position:absolute;
         right:15px;
    } 

    .sitewide-alert .close  > span {
    } 
}

/* CM Added right caret to call to action - 20/10/2020 */
a.see-more-content::before{
    content: "\e903";
    color: #00205b;
    position: absolute;
    right: 30px;
    bottom: 40px;
    font-family: 'eumetsat-icon-font' !important;
    font-size: 30px;
}

/* CM Added to remove white bg on buttons as buttons show as white on grey sections - 21/10/2020 */
.btn-primary, .btn-primary:active {
     background:none;
}

/* CM / SL / PS agreed to change text transform on accordions */
h3.eum-accordion-item {
      text-transform: none!important;
}

.item-list-view h4::before {
    display: none;
}

/* cm / sl / ps - yellow document list */
.item-list-view h4:before{
  display: none;}
h4 a {
  text-decoration: none!important;
}
.content-area blockquote a {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    border-bottom: dotted;
}
.content-area blockquote a:hover {
    color: #fff;
}

.content-area blockquote p {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}
.content-area blockquote {
    margin: 5px 0px 20px 0px;
    background: var(--eumetsat-blue);
    padding:20px 20px;
    width: 100%;
    float: none;
 
}
.content-area blockquote h3{
    margin: 0!important;
    color: #fff!important;
}

 .content-area blockquote h4 {
    margin: 0!important;
    color: #fff!important;
    padding-bottom: 10px;
    padding-top: 10px;
}
/* css changes as per change requests CM - 01/02/2021 */

.menu.nav.navbar-nav.mega-menu-item>li:before {
    content: '';
    height: 1px;
    display: block;
    background-color: var(--primary-divider);
    position: relative;
    top: 25px;
}
.mega-menu-wrapper h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: default;
}
.mega-menu-item span {
    color: #00205b;
    font-weight: bold;
padding-left:10px;
}
.social-media-sharing ul li {
    display: block;
    width: 100%;
    margin: 10px;
}
.social-media-sharing ul li a {
    font-size: 1.5em;
}

span.facet-item__value.badge.eum-badge {
    color: #000;
    font-weight: normal;
}
span.facet-item__value.badge.eum-badge.selected {
    color: #fff;
}
/* CM update to the tabs padding */
.eumetsat_tabs {
    padding: 10% 0 0;
    margin-top: -8%;
}

@media (min-width: 768px) {  
        h1.regular, .h1.regular, h1.regular a, h1.regular p {
           font-size: 50px;
       }
       h1.large, .h1.large, h1.large a, h1.large p {
           font-size: 60px;
       }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
        h1.regular, .h1.regular, h1.regular a, h1.regular p {
           font-size: 70px;
       }
       h1.large, .h1.large, h1.large a, h1.large p {
           font-size:100px;
       }
}

/* Large Screens*/
@media (min-width: 1200px) { 
        h1.regular, .h1.regular, h1.regular a, h1.regular p {
           font-size:80px;
       }
       h1.large, .h1.large, h1.large a, h1.large p {
           font-size:100px;
       }
}
/* changes in icons, new width and no margin required */
.network img {
    width: 40px;
    height: auto;
    margin: 0px 0px;
}

							/***
    STANDARD CARDS LOCAL BRANDING
***/
.node__content.local-branding--science_blog .local-branding .related-articles-date .blog-type, .science .info-tag .blog-type {
    font-family: 'roboto', sans-serif;
}

.node__content.local-branding--science_blog .local-branding--default.eum-standard,
.local-branding--science_blog.eum-standard {
    background-color: #fff;
}

.node__content.local-branding--science_blog .local-branding--default.eum-standard .info-tag,
.local-branding--science_blog.eum-standard .info-tag {
  color: #00205b;

}

.node__content.local-branding--science_blog .local-branding--default.eum-standard .info-tag,
.local-branding--science_blog.eum-standard .info-tag {
  color: #00205b;

}


.node__content.local-branding--science_blog .local-branding--default.eum-standard .info-tag-span.blog-type,
.local-branding--science_blog.eum-standard .info-tag-span.blog-type {

}
.node__content.local-branding--science_blog .local-branding--default.eum-standard .text-content h3,
.local-branding--science_blog.eum-standard .text-content h3 {
    --eumetsat-blue: #00205b;
}

.node__content.local-branding--science_blog .local-branding--default.eum-standard .text-content p,
.local-branding--science_blog.eum-standard .text-content p {
    color: #444
}


/***
    MEDIUM CARDS LOCAL BRANDING
***/
.node__content.local-branding--science_blog .local-branding--default.eum-card-medium,
.local-branding--science_blog.eum-card-medium {
    background-color:  #fff;
}

.node__content.local-branding--science_blog .local-branding--default.eum-card-medium .info-tag,
.local-branding--science_blog.eum-card-medium .info-tag {
    color: #00205b;

}


.node__content.local-branding--science_blog .local-branding--default.eum-card-medium h4,
.local-branding--science_blog.eum-card-medium h4 {
    --eumetsat-blue: #00205b;

}

.node__content.local-branding--science_blog .local-branding--default.eum-card-medium .body-text,
.local-branding--science_blog.eum-card-medium .body-text {
    color: #333;
}

/***
    ARTICLE LOCAL BRANDING
***/
.node__content.local-branding--science_blog,
.local-branding--science_blog {
    --eumetsat-blue: #00205b;

}

.node__content.local-branding--science_blog .cards-slider .info-tag,
.local-branding--science_blog .cards-slider .info-tag {
   --eumetsat-blue: #00205b;

}

.node__content.local-branding--science_blog .cards-slider .carousel-control-next,
.local-branding--science_blog .cards-slider .carousel-control-next {
    color: #fff;
}

.node__content.local-branding--science_blog .cards-slider .carousel-control-next i:before,
.local-branding--science_blog .cards-slider .carousel-control-next i:before {
    color: #fff;
}


					
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .datetime{
        color: #fff;
        height: 65px;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
      }
      
      
      .calendar{
        width: 350px;
        font-weight: 600px;
        padding: 6px 0px;
        text-align: center;
        letter-spacing: 2px;
        font-size: 18px;
      }
      
      .date{
        font-weight: 600px;
        padding: 6px 0px;
        text-align: center;
        letter-spacing: 2px;
        font-size: 18px;
      }
      .DOYCW{
        text-align: center;
        /* width: 300px;
        height: 26px; */
        /* margin-left: 50px;
        margin-right: 50px; */
      }
      /* .DOY{
        width: 100px;
        text-align: center;
        float: left;
      }
      .CW{
        width: 100px;
        text-align: center;
        float: right;
      } */
      .time{
        width: 170px;
        padding: 20px 0px;
        font-size: 42px;
        /* display: flex; */
        text-align: center;
      }
    </style>