
<style>
		

.GEMS_URL{
  font-size: 17px;
}

.GEMS_URL label{
	color: black;
}
.GEMS_URL input{
	width: 95%;
	height: 25px;
	color: black;
	border: solid 1px black;
	border-radius: 3px;
}

/* .btn-Update{
	display: flex;
  margin-left: 10px;
}
.btn-Update input{
	height: 30px;
	width: 100px;
	background: #013B9F;
  color: #fff;
	border: solid 1px black;
	border-radius: 3px;
} */


.btn_Update {
  background-color: #00205b;
  border: none;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 20px;
  width: 7%;
  height: auto;
  border-radius: 2px;
  margin-left: 10px;
}

/* Darker background on mouse-over */
.btn_Update:hover {
  background-color: #013B9F;
}










</style>