
{% extends 'common_header&footer.html' %}

{% load static %}



{% block pagetitle %}
	EPS MetOp Shift Manager
{% endblock %}



{% block csstyle %}
	<link rel="stylesheet" href="{% static 'EPS1GenManager/css/style_EPS1GenManager.css' %}" />
{% endblock %}



{% block javascript %}
	<script src="{% static 'EPS1GenManager/js/js_EPS1ReportGenerator.js' %}"></script>
{% endblock %}



{% block bodyheader %}
	{% include 'EPS1GenManager/EPS1image.html' %}
{% endblock %}



{% block content %}


	<form action='.' method="POST"> {% csrf_token %}
		<div class="floated_left">
			
			<b> {{ contx_form_ToUberlog.Uberlog_ID.label_tag }} </b> <br>
			{{ contx_form_ToUberlog.Uberlog_ID }} <br>
			<b> {{ contx_form_ToUberlog.Uberlog_Paswd.label_tag }} </b> <br>
			{{ contx_form_ToUberlog.Uberlog_Paswd }} <br>
			
			<br>
			<button class="btn_Gen" type="submit" id="btn_EPS1_RG_btnToUberlog"><i class="fa fa-download"></i><br>Generate</button>
			
			
		</div>
		<div class="wrapper clear">
			
			<div class="floated_right">
				<article2>
			
					<h2>Report Generetor Tool</h2>
					
					{{ contx_form_EPS1_RG.Report_type.label_tag }} <br> {{ contx_form_EPS1_RG.Report_type }} <br>

					<div class="floated_left_DC">
						{{ contx_form_EPS1_RG.year.label_tag }} <br> {{ contx_form_EPS1_RG.year }}
					</div>
					<div class="floated_right_DC">
						{{ contx_form_EPS1_RG.CW.label_tag }} <br> {{ contx_form_EPS1_RG.CW }}
					</div>
					

					{{ contx_form_EPS1_RG.Shift.label_tag }} <br> {{ contx_form_EPS1_RG.Date_Shift }} {{ contx_form_EPS1_RG.Shift }} <br> <br>

					<div class="floated_left_DC">
						{{ contx_form_EPS1_RG.Date_start.label_tag }} <br> {{ contx_form_EPS1_RG.Date_start }}
					</div>
					<div class="floated_right_DC">
						{{ contx_form_EPS1_RG.Date_end.label_tag }} <br> {{ contx_form_EPS1_RG.Date_end }}
					</div>
					
				</article2>
			</div>
		</div>
	</form>


{% endblock %}