{% block EPS1image %}


<div class="block block-layout-builder block-field-blocknodehub-pagefield-a-spot">
	<div class="content">
		<div class="field field--name-field-a-spot field--type-entity-reference-revisions field--label-hidden field__item">
			<div  class="paragraph paragraph--type--a-spot paragraph--id--1892 paragraph--view-mode--default">
				

				<style type="text/css">
					#paragraph--id--1892.eum-aspot h1,
					#paragraph--id--1892.eum-aspot p,
					#paragraph--id--1892.eum-aspot h5 {
						color: #fff !important;
					}

					#paragraph--id--1892.eum-aspot .border-simple{
						border-color: #fff !important;
					}

					#paragraph--id--1892.eum-aspot .row .col-md{
						border-color: #fff !important;
					}

					#paragraph--id--1892.eum-aspot,
					#paragraph--id--1892.eum-aspot .image-background,
					#paragraph--id--1892.eum-aspot .image-portrait{
						background-color: #000
					}
					#paragraph--id--1892.eum-aspot.split .subtitle{
						border-color: #fff !important;
					}
				</style>
				

				<div id="paragraph--id--1892" class="eum-aspot bleed dark ">
	   				<div class="image-background">
						<div class="shade-gradient"></div>
						<picture>
							<source media="(max-width: 767px)" srcset="https://www-cdn.eumetsat.int/files/styles/3_4_large/s3/2020-08/ASpot_EPS.jpg?h=681d7257&amp;itok=0Oi3d2dV">
							<source media="(max-width: 1199px)" srcset="https://www-cdn.eumetsat.int/files/styles/16_9_large/s3/2020-08/ASpot_EPS.jpg?h=681d7257&amp;itok=HGUIOwU2 ">
			  				<img itemprop="image" alt="EPS A Spot" src="https://www-cdn.eumetsat.int/files/styles/16_9_large/s3/2020-08/ASpot_EPS.jpg?h=681d7257&amp;itok=HGUIOwU2" class="article-img" title="EPS A Spot">
						</picture>
					</div>
					<div class="container container_body">
						<div class="row no-gutters gradient-bg-special">
							<div class="col-lg-6 col-md-6 col-sm-9 col-9">
								<div class="title">
									<h1  class="large" >Metop</h1>
									<div>
							  			<p class="border-simple mt-4 pt-4">The Metop-A, B and C polar-orbiting satellites providing global data for weather forecasts up to 10 days and climate monitoring</p>
						  			</div>
								</div>
							</div>
							<div class="col-lg-1 col-md-12 col-sm-12"></div>
							<div class="col-lg-5 col-md-12 col-sm-12">
				  				<div class="image-landscape">
									<picture>
										<source media="(max-width: 767px)" srcset="https://www-cdn.eumetsat.int/files/styles/1_1_medium/s3/2020-08/ASpot_EPS.jpg?h=681d7257&amp;itok=wa61_yqy">
										<source media="(max-width: 1199px)" srcset="https://www-cdn.eumetsat.int/files/styles/16_9_medium/s3/2020-08/ASpot_EPS.jpg?h=681d7257&amp;itok=lnTGRZRB ">
										<img itemprop="image" alt="EPS A Spot" src="https://www-cdn.eumetsat.int/files/styles/16_9_large/s3/2020-08/ASpot_EPS.jpg?h=681d7257&amp;itok=HGUIOwU2" class="article-img" title="EPS A Spot">
					  				</picture>
								</div>
								<div class="image-portrait">
									<picture>
										<source media="(max-width: 767px)" srcset="https://www-cdn.eumetsat.int/files/styles/1_1_medium/s3/2020-08/ASpot_EPS.jpg?h=681d7257&amp;itok=wa61_yqy">
										<source media="(max-width: 1199px)" srcset="https://www-cdn.eumetsat.int/files/styles/3_4_medium/s3/2020-08/ASpot_EPS.jpg?h=681d7257&amp;itok=Ag2ySrEz ">
										<img itemprop="image" alt="EPS A Spot" src="https://www-cdn.eumetsat.int/files/styles/3_4_large/s3/2020-08/ASpot_EPS.jpg?h=681d7257&amp;itok=0Oi3d2dV" class="article-img" title="EPS A Spot">
									</picture>
								</div>
							</div>
					  	</div>
					</div>
				</div>
			</div>
		</div>
  	</div>
</div>


{% endblock %}