
{% extends 'common_header&footer.html' %}

{% load static %}



{% block pagetitle %}
	EPS MetOp e-logbook Generator
{% endblock %}



{% block csstyle %}
	<link rel="stylesheet" href="{% static 'EPS1GenManager/css/style_EPS1GenManager.css' %}" />
{% endblock %}



{% block javascript %}
	<script src="{% static 'EPS1GenManager/js/js_EPS1GenManager.js' %}"></script>

	{{ contx_form_EPS1G.media.css }}
	{{ contx_form_EPS1G_MS.media.css }}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
	{{ contx_form_EPS1G.media.js }}
	{{ contx_form_EPS1G_MS.media.js }}
{% endblock %}



{% block bodyheader %}
	{% include 'EPS1GenManager/EPS1image.html' %}
{% endblock %}



{% block content %}

	
	<!-- <body>
		<p>11Try to <b>scroll</b> inside this frame to understand how sticky positioning works.</p>
	
	<div class="sticky">I am sticky!</div>
	
	<div style="padding-bottom:2000px">
	  <p>In this example, the sticky element sticks to the top of the page (top: 0), when you reach its scroll position.</p>
	  <p>Scroll back up to remove the stickyness.</p>
	  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
	  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
	</div>
	</body> -->
	



	<!-- <body_2>

	<nav_2>
		<ul>
		  <li><a href="#section-1">Section 1</a></li>
		  <li><a href="#section-2">Section 2</a></li>
		  <li><a href="#section-3">Section 3</a></li>
		  <li><a href="#section-4">Section 4</a></li>
		  <li><a href="#section-5">Section 5</a></li>
		  <li><a href="#section-6">Section 6</a></li>
		  <li><a href="#section-7">Section 7</a></li>
		  <li><a href="#section-8">Section 8</a></li>
		  <li><a href="#section-9">Section 9</a></li>
		</ul>
	  </nav_2>



	  <main_2>
		<section id="section-1">
		  <h1>Section 1</h1>
		  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae?</p>
		</section>
		<section id="section-2">
		  <h1>Section 2</h1>
		  <p>Ratione nulla nam, ipsa dignissimos corrupti veniam nostrum, laudantium asperiores sequi numquam placeat velit voluptate in praesentium non labore unde incidunt laborum maxime quae magni.</p>
		</section>
		<section id="section-3">
		  <h1>Section 3</h1>
		  <p>Soluta quibusdam ad nostrum vel voluptate delectus sequi dolores quia quaerat officia corrupti, aperiam fugit facere debitis repudiandae praesentium sapiente inventore repellendus, nemo commodi alias!</p>
		</section>
		<section id="section-4">
		  <h1>Section 4</h1>
		  <p>Aliquid aliquam magnam ducimus similique obcaecati, unde exercitationem laborum incidunt, quas in ipsum inventore nostrum? Blanditiis optio cumque earum iste odio! Alias sint accusamus repudiandae.</p>
		</section>
		<section id="section-5">
		  <h1>Section 5</h1>
		  <p>Officia ipsum fugit iure eaque quisquam error tempore earum enim illum, delectus officiis incidunt corrupti aliquid nam quas perspiciatis eveniet doloremque quod labore? Doloremque, ipsum?</p>
		</section>
		<section id="section-6">
		  <h1>Section 6</h1>
		  <p>Aperiam repellat dignissimos fugiat possimus esse, suscipit neque nisi libero alias obcaecati ipsam, porro illo corrupti nostrum reprehenderit unde, illum in laudantium impedit. Modi, veniam.</p>
		</section>
		<section id="section-7">
		  <h1>Section 7</h1>
		  <p>Cum asperiores temporibus itaque consequatur quod inventore, quia quis explicabo dicta esse minus voluptatem reiciendis eveniet animi, necessitatibus illum dolorem doloremque repellat placeat, dolores eaque.</p>
		</section>
		<section id="section-8">
		  <h1>Section 8</h1>
		  <p>Optio qui, omnis itaque rerum iusto molestiae necessitatibus deleniti quod tenetur id perspiciatis voluptatum dolorum quisquam eius ipsum non architecto labore! Distinctio, tenetur. Officiis, necessitatibus?</p>
		</section>
		<section id="section-9">
		  <h1>Section 9</h1>
		  <p>Rem iste iure blanditiis excepturi esse nisi corrupti sequi, illo, laborum quo quis quaerat assumenda perspiciatis quod fuga vel laudantium doloribus architecto tempora omnis earum!</p>
		</section>
	  </main_2>
	  


	</body_2> -->



















	
<form action='.' method="POST" > {% csrf_token %}
	<div class="floated_left">
		{{ contx_form_ToUberlog.ToUberlog.label_tag }} {{ contx_form_ToUberlog.ToUberlog }} <br><br>
		
		<b> {{ contx_form_ToUberlog.Uberlog_ID.label_tag }} </b> <br>
		{{ contx_form_ToUberlog.Uberlog_ID }} <br>
		<b> {{ contx_form_ToUberlog.Uberlog_Paswd.label_tag }} </b> <br>
		{{ contx_form_ToUberlog.Uberlog_Paswd }} <br>
		
		<br>{{ contx_form_EPS1G.file_report.label_tag }} {{ contx_form_EPS1G.file_report }} <br>
		<br>
		

		<!-- <input class="btn_Gen"
				type="button"
				name="btn_EPS1_btnToUberlog"
				value="Submit"> -->
		<button class="btn_Gen" type="submit" id="btn_EPS1_btnToUberlog" name="btn_EPS1_btnToUberlog"><i class="fa fa-download"></i><br>Submit</button>
		
		
	</div>
	<div class="wrapper clear">
        
        <div class="floated_right">
            <article2>
		
				<h2>Batch Generetor Tool</h2>
				
				<div class="popup">
					{{ contx_form_EPS1G.errors.SideSpaCon }}
				</div>
				{{ contx_form_EPS1G.SideSpaCon }} SpaCon
				{{ contx_form_EPS1G.SideGrndCon }} GrndCon <br>
				{{ contx_form_EPS1G.Daily_Events.label_tag }} {{ contx_form_EPS1G.Daily_Events }} <br>
				{{ contx_form_EPS1G.NOAA_BOS.label_tag }} {{ contx_form_EPS1G.NOAA_BOS }} <br>
				
				<div class="floated_left_DC">
					{{ contx_form_EPS1G.Antenna.label_tag }} <br> {{ contx_form_EPS1G.Antenna }}
				</div>
				<div class="floated_right_DC">
					{{ contx_form_EPS1G.SC.label_tag }} <br> {{ contx_form_EPS1G.SC }}
				</div>
				<br>
				
				
				{{ contx_form_EPS1G.Shift.label_tag }} <br> {{ contx_form_EPS1G.Date_Shift }} {{ contx_form_EPS1G.Shift }} <br> <br>

				<div class="floated_left_DC">
					{{ contx_form_EPS1G.Date_start.label_tag }} <br> {{ contx_form_EPS1G.Date_start }}
				</div>
				<div class="floated_right_DC">
					{{ contx_form_EPS1G.Date_end.label_tag }} <br> {{ contx_form_EPS1G.Date_end }}
				</div>
				
				
			</article2>
        </div>
		<div class="floated_right_MSCXTTC">
            <article2>
		
				<h2>Manual Mission Swap</h2>
				
				<div class="floated_left_DC">
					{{ contx_form_EPS1G_MS.MS_Date_start.label_tag }} <br> {{ contx_form_EPS1G_MS.MS_Date_start }}
				</div>
				<div class="floated_right_DC">
					{{ contx_form_EPS1G_MS.MS_Date_end.label_tag }} <br> {{ contx_form_EPS1G_MS.MS_Date_end }}
				</div>
				<div class="floated_left_DC">
					{{ contx_form_EPS1G_MS.MS_Antenna.label_tag }} <br> {{ contx_form_EPS1G_MS.MS_Antenna }}
				</div>
				<div class="floated_right_DC">
					{{ contx_form_EPS1G_MS.MS_SC.label_tag }} <br> {{ contx_form_EPS1G_MS.MS_SC }}
				</div>
				
				
				
				<br> <br> <h2>C-XTTC & FBK Support</h2>

				{{ contx_form_EPS1G_CXTTCFBK.C_XTTC_FBK_Antenna.label_tag }} <br> {{ contx_form_EPS1G_CXTTCFBK.C_XTTC_FBK_Antenna }}
				{{ contx_form_EPS1G_CXTTCFBK.C_XTTC_FBK_Covis.label_tag }} {{ contx_form_EPS1G_CXTTCFBK.C_XTTC_FBK_Covis }} 
				{{ contx_form_EPS1G_CXTTCFBK.C_XTTC_FBK_Extend.label_tag }} {{ contx_form_EPS1G_CXTTCFBK.C_XTTC_FBK_Extend }} 
				
				<br>
				

				<div class="floated_left_DC">
					{{ contx_form_EPS1G_CXTTCFBK.C_XTTC_FBK_SC.label_tag }} <br> {{ contx_form_EPS1G_CXTTCFBK.C_XTTC_FBK_SC }}
				</div>
				<div class="floated_right_DC">
					{{ contx_form_EPS1G_CXTTCFBK.C_XTTC_FBK_nOrbit.label_tag }} <br> {{ contx_form_EPS1G_CXTTCFBK.C_XTTC_FBK_nOrbit }}
				</div>
				

			</article2>
        </div>
    </div>
</form>




































<!-- <form action='.' method="POST"> {% csrf_token %}
<section>
		
	<nav_EPS>
		<div class="sidenav_EPS">
			<button class="btn_Gen" type="submit" ><i class="fa fa-download"></i><br>Submit</button>
		</div>
	</nav_EPS>
	<article2>
		
		<h2>EPS I gen. Batch Generetor Tool</h2>
		<table>
			{{ contx_form.as_p }}
		</table>
		{{ contx_form.title }}
		{{ contx_form.featured }}
		{{ contx_form.Shift }}
	</article2>

<nav2_EPS>
</nav2_EPS>
</section>
</form> -->

	<!-- <h1>{{ contx_object.title }}</h1>
	<p>{{ contx_object.description }}</p>

	{{ contx_object.price }} -->

	
	<!-- <form method="POST"> {% csrf_token %}
		{{ contx_form.as_p }}
		<input type="submit" value='Save' />
	</form> -->



	<!-- <form action='.' method="POST"> {% csrf_token %}
		<input type="text" name="q" placeholder="Your title" />
		<input type="submit" value='Save' />
	</form> -->



	<!-- <article2> -->
		<!-- <nav2_EPS>
		<h2>EPS I gen. Tool</h2>

		<form action='.' method="POST"> {% csrf_token %}
			
			{{ contx_form.as_table }}
			
			
			
			<input type="submit" value='Save' />
		</form> -->
	<!-- </article2> -->
<!-- </nav2_EPS> -->
	<!-- <nav2_EPS>
	</nav2_EPS> -->

	
	
{% endblock %}