<style>

/*  */



/* Create two columns/boxes that floats next to each other */
  
  
  /* Style the list inside the menu */
  ul {
    list-style-type: none;
    padding: 0;
  }
 

  .floated_left {
    /* position: -webkit-sticky; */
    position: sticky;
    float: left;
    height: 100%;
    width: 250px;
    background: #ccc;
    /* border: 3px solid red; */
    padding: 15px 20px;
  }
  .wrapper {
    float: right;
    width: calc(100% - 250px);
    background-color: #f1f1f1;
    /* border:  solid green; */
  }
  .floated_right {
      width: 1200px;
      /* border:  solid red; */  
  }


  .clear:after {
      clear: both;
      content: "";
      display: table;
  }

  article2 {
    float: left;
    padding: 20px;
    width: 50%;
    /* height: 300px; /* only for demonstration, should be removed */
  }

.btn_Gen {
  background-color: #00205b;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  /* height: auto; */
  position: sticky;
}

/* Darker background on mouse-over */
.btn_Gen:hover {
  background-color: #013B9F;
}
.floated_left_DC {
  float: left;
  /* padding: 5px; */
}
.floated_right_DC {
  /* padding: 0px 10px; */
}















/*  */
.mydjf_datetimefield {
  width: 270px;
  height: 50px;
}












































</style>