
{% extends 'common_header&footer.html' %}
{% load static %}



{% block pagetitle %}
	Sentinel-3 e-logbook Generator
{% endblock %}




{% block csstyle %}
	<link rel="stylesheet" href="{% static 'S3Manager/css/style_S3Manager.css' %}" />
{% endblock %}




{% block javascript %}
	<script src="{% static 'S3Manager/js/js_S3Manager.js' %}"></script>
	
	{{ contx_form_S3.media.css }}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    {{ contx_form_S3.media.js }}
{% endblock %}




{% block bodyheader %}
	{% include 'S3Manager/S3image.html' %}
{% endblock %}



{% block content %}



	




<form action='.' method="POST" enctype="multipart/form-data"> {% csrf_token %}
	<div class="floated_left">
		{{ contx_form_ToUberlog.ToUberlog.label_tag }} {{ contx_form_ToUberlog.ToUberlog }} <br><br>

		<b> {{ contx_form_ToUberlog.Uberlog_ID.label_tag }} </b> <br>
		{{ contx_form_ToUberlog.Uberlog_ID }} <br>
		<b> {{ contx_form_ToUberlog.Uberlog_Paswd.label_tag }} </b> <br>
		{{ contx_form_ToUberlog.Uberlog_Paswd }} <br>
		
		<br>
		<button class="btn_Gen" type="submit" id="btn_S3_btnToUberlog" name="btn_S3_btnToUberlog"><i class="fa fa-download"></i><br>Submit</button>
		
		
	</div>
	<div class="wrapper clear">
        <div class="floated_right">
            <article2>


				<h2>Batch Generetor Tool</h2>

				{{ contx_form_S3.Daily_Events.label_tag }} {{ contx_form_S3.Daily_Events }} <br>

				<div class="floated_right_DC">
					{{ contx_form_S3.SC.label_tag }} <br> {{ contx_form_S3.SC }}
				</div>
				<br>

				{{ contx_form_S3.Shift.label_tag }} <br> {{ contx_form_S3.Date_Shift }} {{ contx_form_S3.Shift }} <br> <br>

				<div class="floated_left_DC">
					{{ contx_form_S3.Date_start.label_tag }} <br> {{ contx_form_S3.Date_start }}
				</div>
				<div class="floated_right_DC">
					{{ contx_form_S3.Date_end.label_tag }} <br> {{ contx_form_S3.Date_end }}
				</div>
				
				
			</article2>
		</div>
		<div class="floated_right_file">
            <article2>
				<h2>S-Band file list</h2>
				<!-- List of uploaded documents -->
				<nav_S3>
					{% if documents %}
						<ul>
						{% for document in documents %}
							<li><a href="{{ document.docfile.url }}">{{ document.date_str }} - {{ document.name_str }}</a></li>
						{% endfor %}
						</ul>
					{% else %}
						<p>No documents.</p>
					{% endif %}
				</nav_S3>

				<h2>S-Band file upload</h2>
				<!-- Upload form. Note enctype attribute! -->
				<form action="{% url 'S3elogbooGenerator' %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<p>{{ form.non_field_errors }}</p>
					<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
					<p>
						{{ form.docfile.errors }}
						{{ form.docfile }}
					</p>
					<p><input type="submit" value="Upload" name="btn_S3_btnuploadfile" /></p>
				</form>
			</article2>
		</div>
    </div>
</form>

<!-- {{ contx_form.media.js }} -->

	
{% endblock %}